data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

01-intro/
02-experiment-tracking/
03-orchestration/
05-monitoring/
generate/
images/
asking-questions.md
.DS_Store
